body {
    font-family: 'Playfair Display', serif;
    font-size: small;
}

#title {
    font-family: 'Playfair Display', serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-icon {
    display: flex;
    flex-direction: row;
    color: black;
    margin-right: 0px;

}

.text-center {
    text-align: left;
    align-items: center;
    margin: auto;
    font-size: 15px;
}

.buttons {
    font-family: 'Playfair Display', serif;
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 10px 26px;
    margin: 20px;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 4px;
}


#register-form {
    font-family: 'Playfair Display', serif;
    padding: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px;
    font-size: 14px;
}   

#upload-file {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#create-outfit {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 6px;
    padding: 10px;
}

#outfit-viewer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

#favorite-outfit {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#favorite-outfits {
    display: block;
    background-color: transparent;
    margin: 50px;
}

h2 {
    font-size: 2rem;
    margin: 20px;
}

input.upload-file {
    border: none;
    border-bottom: 2px solid black;
}

#new_item_info {
    margin: 5px;
    font-size: 14px;
}

#dropdown-items {
    margin: 8px;
}

.create_outfit {
    margin: 2px;
    font-size: 14px;
}