{% extends 'base.html' %}

    {% block title %} {{ session["user"]['name'] }}'s closet {% endblock %} 

{% block body %}

    <h2>See everything that's in your closet:</h2>
    <div id="articles">
        {% for article_item in article_items %}
           <img class="column" width="200px" src="{{ article_item.resource_url }}"/>
        {% endfor %}
    </div>


    <form id="upload-file" action="/upload-file" method="post" enctype="multipart/form-data">
        <h3> Add more pieces! </h3>
        <div>
        <label for="additem">Select a file: </label>
        <input type="file" id="additem" name="additem" multiple/>
        </div>
        <div id="new_item_info">
            <label for="color_primary">Primary color: </label>
            <input id="color_primary" type="text" name="color_primary" required/>
            
            <label for="color_sec">Secondary color: </label>
            <input id="color_sec" type="text" name="color_sec"/>
            
            <label for="pattern">Pattern: </label>
            <input id="pattern" type="text" name="pattern"/><br>
            
            <label for="type">Type: </label>
            <select id="type" name="type" required>
                <option value="shirt">shirt</option>
                <option value="skirt">skirt</option>
                <option value="pants">pants</option>
                <option value="sweater">sweater</option>
                <option value="jacket">jacket</option>
                <option value="dress">dress</option>
                <option value="shoes">shoes</option>
                <option value="hat">hat</option>
                <option value="bag">bag</option>
                <option value="glasses">glasses</option>
            </select>
            <label for="occasion">Occasion: </label>
            <select id="occasion" name="occasion" required>
                <option value="everyday">everyday</option>
                <option value="formal">Formal</option>
                <option value="semi-formal">Semi-Formal</option>
                <option value="business">Business</option>
                <option value="business-casual">Business Casual</option>
            </select>
            <label for="season">Season: </label>
            <select id="season" name="season" required>
                <option value="spring">spring</option>
                <option value="summer">summer</option>
                <option value="fall">fall</option>
                <option value="winter">winter</option>
                <option value="all">all</option> 
            </select>
        <div>
        <input class="buttons" type="submit"> 
        </div> 
        </div>
        <div id="build-outfit">
            <p><a href="/create-outfit">Create outfit >> </a></p>
        </div>
    </form>

{% endblock %}