{% extends 'base.html' %}

    {% block title %} Attire Closet {% endblock %}

{% block body %} 
    <style>
        body { background-image: url(https://images.unsplash.com/photo-1665815844395-06f64f44b5e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
            background-size: auto;
        }
    </style>

    <form id="register-form" action="/register", method="POST">
    <h2>Welcome!</h2>
    <div id="create_account">
        <p>Create an account</p>
        <p>Please fill in the information below:</p>
        <label for="name">Name: </label><br>
        <input id="name" type="text" name="name" required/>
        <br>
        <label for="username">Username: </label><br>
        <input id="username" type="text" name="username" required/>
        <br>
        <label class="col-xs-offset-2" for="email">Email: </label><br>
        <input id="email" type="text" name="email" required/>
        <br>
        <label for="password">Password: </label><br>
        <input id="password" type="password" name="password" required/>
        <div>
        <button class="buttons" id="signup" type="submit">CREATE ACCOUNT</button>
        </div>
        <div id="login">
            <p>If you already have an account, <a href="/login">log in.</a></p>
        </div>
    </div>
    </form>
    
{% endblock %}