<html>
<head>
    <title>Attire Closet</title>
    <link rel="stylesheet" href="/static/css/attire.css"/>
</head>
</html>

<body>

    <h1></h1>
    
    <div id="signup">
        <label for="unique-id">Username: </label>
        <input id="unique-id" type="text" name="login" required/>
        <label for="name">Name: </label>
        <input id="user-name" type="text" name="login" required/>
        <label for="email">Email: </label>
        <input id="email" type="text" name="login" required/>
        <label for="password">Password: </label>
        <input id="password" type="text" name="login" required/>
    </div>

    <p></p>
</body>