{% extends 'base.html' %}


    {% block title %} Attire Closet {% endblock %}


{% block body %}

    <h1>Welcome!</h1>
    
    <form action="/register", method="POST">
    <div id="create_account">
        <p>Create an account</p>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" required/>
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" required/>
        <label for="email">Email: </label>
        <input id="email" type="text" name="email" required/>
        <label for="password">Password: </label>
        <input id="password" type="text" name="password" required/>

        <button id="signup" type="submit">Create account</button>
    </div>
    </form>
    
    <div id="login">
        <p>If you already have an account, <a href="/login">log in.</a></p>
    </div>

    <form action="/login">
        <p>Log in</p>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" required/>
        <label for="password">Password: </label>
        <input id="password" type="text" name="password" required/>

        <button id="login" type="submit">Log in</button>
    </form>
{% endblock %}